<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Chart Details</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <app-chart [chart]="chart"></app-chart>
          </div>
        </div>
      </div>

      <br />

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Table</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <div class="table-responsive" *ngIf="table">
              <app-table
                [headers]="table.headers"
                [rows]="table.rows"
              ></app-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
